@media only screen and (max-width: 600px) {
  .right-side img,
  nav .links {
    display: none;
  }

  nav .logo {
    display: flex;
    font-size: 7vw;
  }

  nav {
    margin-bottom: 1.2rem;
  }

  section {
    width: 90%;
  }

  .container .left-side {
    width: 100%;
  }

  .left-side h1 {
    font-size: 2.8em;
  }

  .left-side button {
    font-size: 5vw;
    background-color: transparent;
    padding: 1.5vw 32vw;
  }

  footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 4rem;
  }

  footer h1,
  p {
    padding: 1.5vw 0;
  }

  button:hover {
    color: #0795e7;
    background-color: #f9f9f9;
  }
}
