@media only screen and (max-width: 425px){ 
    .right-side img, nav .links {
        display: none;       
      }

    nav .logo{
        display: flex;
        font-size: 7vw;    
    }

    nav{
        margin-bottom: 1.2rem; 
    }

    footer{
        margin-top: 1em;
    }

    .container{        
        border: 1px solid red;
    }

    .container .left-side{
        border: 1px solid red;
        width: 100%;
    }

    .left-side h1{        
        font-size: 2.8em;    
    }

    .left-side button{
        font-size: 5vw;    
        background-color: transparent;
        padding: 1.5vw 32vw;   
    }
}